bottle-websocket==0.2.9
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
chardet==5.1.0
colorama==0.4.6
distlib==0.3.6
dnspython==2.3.0
docutils==0.19
filelock==3.8.2
Flask==2.2.2
future==0.18.2
gevent==22.10.2
gevent-websocket==0.10.1
greenlet==2.0.1
idna==3.4
importlib-metadata==6.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.2
pefile==2022.5.30
Pillow==9.3.0
platformdirs==2.6.0
pycparser==2.21
Pygments==2.13.0
psycopg2-binary==2.9.5
gunicorn==21.2.0
dominate==2.7.0