<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Guy's Personal Site</title>
    <link rel="stylesheet" href="../static/CSS/styles_main.css" />
    <link rel="icon" href="../static/Images_main/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap"
      rel="stylesheet"
    />
    <script defer src="../static/js/sliderView.js"></script>
  </head>
  <body>
    <div class="top-div">
      <div class="front">
        <img
          id="top-cloud"
          src="../static/Images_main/cloud.png"
          alt="cloud image"
        />
        <h1>Guy Newman.</h1>
        <h2>a programmer.</h2>
        <img
          id="bottom-cloud"
          src="../static/Images_main/cloud.png"
          alt="cloud image"
        />
      </div>
      <img
        src="../static/Images_main/mountain.png"
        alt="mountain background"
        id="mountain"
      />
    </div>

    <div class="middle-div">
      <div class="profile">
        <img
          src="../static/Images_main/my_picture.jpg"
          alt="Guy Newman's picture"
        />
        <h2>Hello</h2>
        <p>
          <em
            >I'm {{age}} years old, my name is Guy Newman, and I live in
            Tel-Aviv.</em
          >.
        </p>
      </div>
      <hr />
      <div class="skills">
        <h2>My Skills</h2>
      </div>
      <div class="skill-row">
        <img
          class="school"
          src="../static/Images_main/school.png"
          alt="school symbol"
        />
        <h3>Education</h3>
        <p class="lan-list">
          "Tora U-Mada Ba-Kfar" High School(2017 - 2023)
          <br />
          5 study units in Math, Physics, Computer Science & English - All with
          honors.<br />
          10 study units in Electronics.<br />
          5 study units in Gmara (גמרא), Tora (תנ"ך). <br />
          I have a 96 grade average (48 units total). <br />
          I have a 665 score in my psychometric. <br />
          I speak English, Hebrew - Native.
        </p>
      </div>
      <div class="skill-row">
        <img
          class="cs"
          src="../static/Images_main/computer-science.png"
          alt="computer science symbol"
        />
        <h3>Web Developer & Data Analyst</h3>
        <p class="lan-list">
          Languages I Learned:
          <br />
          Python 🐍 + Flask -> studied for a year and a half. (<a
            class="middel-anchor"
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.udemy.com/share/103IHM3@qIxxUHu8AS22hMMfiUI0O06ZeS1AnX-RZ-z0_Gg0yDgv3I7I9roDLHUcHBPr6DotdQ==/"
            >udemy course</a
          >
          +
          <a
            class="middel-anchor"
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.udemy.com/certificate/UC-f251fbcc-09eb-4e49-92a0-f1bbce8f9db2/"
            >cerificate</a
          >,
          <a
            class="middel-anchor"
            target="_blank"
            rel="noopener noreferrer"
            href="https://courses.campus.gov.il/courses/course-v1:CS+GOV_CS_networkpy103+2020_1/course/"
            >networking course</a
          >)<br />
          C# -> learnt in school and in courses for 2 years. (<a
            class="middel-anchor"
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.youtube.com/watch?v=GhQdlIFylQ8"
            >course1</a
          >,
          <a
            class="middel-anchor"
            target="_blank"
            rel="noopener noreferrer"
            href="https://courses.campus.gov.il/courses/course-v1:EDU+ComputerScience_5units+1_2021/course/"
            >course2</a
          >)
          <br />
          HTML & CSS -> worked with around 1.5 years.<br />
          JavaScript + React-> one year, studied with courses. (<a
            class="middel-anchor"
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.udemy.com/share/101WeY3@3ybKCnCC3H_tob-bnlbK0cGVmKcBE-Do7V4iwGbnObpRkj8UNUUoziccg-TTqAL8pw==/"
            >JavaScript course</a
          >
          +
          <a
            class="middel-anchor"
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.udemy.com/certificate/UC-96c69588-0052-4d53-890e-e3f31bacf561/"
            >cerificate</a
          >
          ,
          <a
            class="middel-anchor"
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.udemy.com/share/108PTK3@s0nxPN3_WwLg5ZBj9yxZ3Z7a08U_J1FubFOwOSiNHLkpUgbnpkH_qBkVG5LsKUiitA==/"
            >React course</a
          >)<br />
          C++ -> one year, learnt from
          <a
            class="middel-anchor"
            target="_blank"
            rel="noopener noreferrer"
            href="http://www.staroceans.org/e-book/The_C__Programming_Language__Stroustrup_.pdf"
            >the creator's book</a
          >
          +
          <a
            class="middel-anchor"
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.youtube.com/watch?v=-TkoO8Z07hI&t=1933s"
            >course</a
          >.<br />
          SQL -> studied for 1 year with a course.(<a
            class="middel-anchor"
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.udemy.com/share/101Wq03@JmFfVzTbkVm7SsXlDe4nlqSmoGme_Y_b3qfTCo3Oe0aR6lfw2Ka5hBt5WTEIw_1dgg==/"
            >udemy course</a
          >)<br />

          <!-- To see projects that I made:  -->
        </p>
      </div>

      <div class="skill-row">
        <img
          class="engineer"
          src="../static/Images_main/practice.png"
          alt="engineer symbol"
        />
        <h3>Engineer</h3>
        <p class="lan-list">
          I have built many engineering projects such as:<br />
          Robots -> I engineered a tank with a robot arm controlled by a glove,
          Coded the project using C++.<br />
          Drones -> One that I built and coded from scratch.<br />
          Planes -> For 7 years, I built hundreds of planes in a club, some
          remote controlled, some gliders. <br />Also after 5 years of
          participation in aerodynamics courses, and participation in contests,
          I've become assistant guide.
          <!-- To see more about my projects you can visit my  -->
        </p>
      </div>
      <div class="skill-row">
        <img
          class="coffee"
          src="../static/Images_main/coffee-cup.png"
          alt="barista symbol"
        />
        <h3>Barista & Chef</h3>
        <p class="lan-list">
          In the 11th grade I worked in a coffee shop for the whole year and
          beyond.<br />
          I became a barista and a chef, and got to a very superior stage.<br />
          Helped teach the new recruits, and helped to manage the shop.<br />
          Even closed and opened the coffee shop on my own, on a regular
          basis.<br />
        </p>
      </div>
      <hr />

      <section class="section" id="section--3">
        <div class="slider">
          <div class="projects">
            <h2>Main Projects</h2>
          </div>
          <div class="slide slide--1">
            <div class="testimonial">
              <h5 class="testimonial__header">
                Robot Tank Controlled by a Glove
                <img
                  src="../static/Images_main/robot.jpg"
                  alt="tank robot"
                  class="testimonial__photo"
                />
              </h5>
              <blockquote class="testimonial__text">
                This is a project that took a year to complete. It is a tank
                with a robot arm, that is controlled via a wireless connection
                to a glove. There are sensors on the glove that detect movements
                of your fingers. There are also 2 buttons that change the modes
                of the tank (forward/reverse/ ...). The tank it self, has
                sensors that block him from running into walls, and closing the
                robot hand too hard when holding something. To read more about
                the tank ->
                <a
                  class="middel-anchor"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://1drv.ms/w/s!AprAfciaGJb4jb4x4YM1ltfLNTBsGg?e=SNLavn"
                >
                  tank documentry
                </a>
              </blockquote>
            </div>
          </div>

          <div class="slide slide--2">
            <div class="testimonial">
              <h5 class="testimonial__header">
                Back-End Project (Social Website)
              </h5>
              <blockquote class="testimonial__text">
                This is a website I built, were users can create blogs, and post
                data in them. The website includes a messaging system between
                users, a views system, profiles, comments, darkmode,
                password-encryption system, organized database and more. I built
                the website using vanilla JS for the front-end, SQL + Python
                (Flask & Jinja) for the back-end.<br />
                The website is very responsive (works on different divices).
                <br />
                <a
                  class="middel-anchor"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://the-peoples-blogs.onrender.com/"
                >
                  click here to see the website
                </a>
              </blockquote>
            </div>
          </div>

          <div class="slide slide--3">
            <div class="testimonial">
              <h5 class="testimonial__header">
                Front-End Project (Cooking Website)
              </h5>
              <blockquote class="testimonial__text">
                This website I built to finish my journey to learn vanilla JS.
                It includes many principles I learnt such as, API, MVC coding
                style, Storage system, DOM manipulation, Object-Oriented-Code
                and more. <br />
                The code is highly organized and I recommend visiting the source
                <a
                  class="middel-anchor"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://github.com/thatguy2341/forkifyApp.git"
                >
                  code here
                </a>
                <br />
                To see the website ->
                <a
                  class="middel-anchor"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://forkify-cooking-helper.netlify.app/"
                >
                  click here
                </a>
              </blockquote>
            </div>
          </div>

          <button class="slider__btn slider__btn--left">&larr;</button>
          <button class="slider__btn slider__btn--right">&rarr;</button>
          <div class="dots"></div>
        </div>
      </section>

      <hr />
      <div class="contact-me">
        <h2>Get In Touch</h2>
        <h3>I won't play hard to get, don't worry.</h3>
        <p class="time-description">
          I'm mostly a full time student, looking to find a job.<br />
          You can contact me here:
        </p>
        <a class="btn" href="mailto:guynewman2005@gmail.com">CONTACT ME</a>
        <p style="margin-top: 2rem">or just email: guynewman2005@gmail.com</p>
      </div>
    </div>
    <div class="bottom-div">
      <a
        class="footer-link"
        href="https://www.linkedin.com/in/guy-newman-493965262/"
        >LinkedIn</a
      >
      <a class="footer-link" href="https://twitter.com/guy92478005">Twitter</a>
      <a class="footer-link" href="https://github.com/thatguy2341">github</a>
      <p class="copy-right">© 2023 Guy Newman.</p>
    </div>
  </body>
</html>
